/* reset per azzerare */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container in cui inserire tutto il main*/
.container {
    width: 80%;
    margin: 0 auto;
}

.big-square {
    width: 300px;
    height: 300px;
    background-color: lightgreen;
}


.square {
    width: 150px;
    height: 150px;
    background-color: red;
    color: white;
}

.border {
    border: 3px solid black;
  /*  border-top: 3px solid green;
    border-color: violet;*/
}

.padding {
    /* padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
     padding-bottom: 15px; */
    /* padding: 10px 5px 15px 10px; */
    /* ordine in senso orario */

    padding: 10px 20px 5px; 
    /* tre valori = padding orizzontale */
}


.margin {
    /* margin-top: 30px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 20px;*/

    margin: 30px 10px 15px 20px;

    /* per margin in percentuale sempre la domanda, percentuale di che? spesso alla larghezza dello schermo, a seconda di dove si inserisce il div del margni */
}

.m-auto {
    margin: 0 auto;
}

.border-radius {
    border-top-left-radius: 30px;

}

.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}